workspace "code"
workspace "browse"
workspace "chat"

window-rule {
    draw-border-with-background false
    geometry-corner-radius 10
    tiled-state true
    clip-to-geometry true
}

window-rule {
    match title="kitty"
    open-on-workspace "code"
    open-maximized true
    open-focused true
}

window-rule {
    match title="Brave"
    open-on-workspace "browse"
    open-focused true
}

window-rule {
    match title="Discord"
    open-on-workspace "chat"
    open-focused true
}

window-rule {
    match title="Ulauncher"
    open-floating true
    default-floating-position x=0 y=200 relative-to="top"
    focus-ring {
      off
    }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
