layout {
    background-color "transparent"

    focus-ring {
        off
        // active-color   "#88b7af"
        // inactive-color "#7b8b95"
        // urgent-color   "#ba706e"
    }

    border {
        off
        // active-color   "#88b7af"
        // inactive-color "#7b8b95"
        // urgent-color   "#ba706e"
    }

    // shadow {
    //     color "#00000070"
    // }

    tab-indicator {
        active-color   "#88b7af"
        inactive-color "#7b8b95"
        urgent-color   "#ba706e"
    }

    insert-hint {
        color "#88b7af80"
    }
}

recent-windows {
    highlight {
        active-color   "#455056"
        urgent-color   "#ba706e"
    }
}
