layout {
    background-color "transparent"

    focus-ring {
        active-color   "#8fd5af"
        inactive-color "#8a938c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8fd5af"
        inactive-color "#8a938c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8fd5af"
        inactive-color "#8a938c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8fd5af80"
    }
}

recent-windows {
    highlight {
        active-color   "#005235"
        urgent-color   "#ffb4ab"
    }
}