snippet ci
  cin >> ${0};
snippet co
  cout << ${0};
snippet ce
  cerr << ${0};
snippet !spf
  const int N = 1e6 + 1;
  array<int, N> spf;

  void SPF() {
    for (int i = 2; i < N; i++) {
      if (spf[i] == 0) {
        spf[i] = i;
        for (ll j = 1ll * i * i; j < N; j += i)
          if (!spf[j])
            spf[j] = i;
      }
    }
  }
snippet !sieve
  const int N = 1e6 + 1;
  array<bool, N> isPrime;

  void Sieve() {
    isPrime.fill(true);
    isPrime[0] = isPrime[1] = false;

    for (int i = 2; i < N; i++) {
      if (isPrime[i]) {
        for (ll j = 1ll * i * i; j < N; j += i)
          isPrime[j] = false;
      }
    }
  }
snippet !mod_arithmetics
  const ll MOD = 1e9 + 7;

  ll add(ll a, ll b, ll mod = MOD) { return (a % mod + b % mod) % mod; }

  ll sub(ll a, ll b, ll mod = MOD) { return (a % mod - b % mod + mod) % mod; }

  ll mult(ll a, ll b, ll mod = MOD) { return ((a % mod) * (b % mod)) % mod; }

  ll fp(ll base, ll power, ll mod = MOD) {
    if (power == 0)
      return 1;

    ll hp = fp(base, power / 2, mod);
    ll fullPower = mult(hp, hp, mod);

    if (power % 2 != 0)
      fullPower = mult(fullPower, base, mod);

    return fullPower;
  }

  ll divi(ll a, ll b, ll mod = MOD) { return mult(a, fp(b, mod - 2)); }
snippet !combinatorics
  const int N = 1e6 + 1;
  array<int, N> fact, invFact;

  ll nPr(ll n, ll r, ll mod = MOD) {
    return r > n || n < 0 || r < 0 ? 0 : mult(fact[n], invFact[n - r], mod);
  }

  ll nCr(ll n, ll r, ll mod = MOD) {
    return r > n || n < 0 || r < 0
               ? 0
               : mult(fact[n], mult(invFact[r], invFact[n - r], mod), mod);
  }

  ll sNb(ll n, ll k, ll mod = MOD) { return nCr(n + k - 1, n, mod); }

  void precalFactorial(ll mod = MOD) {
    fact[0] = 1;
    for (int i = 1; i < N; i++)
      fact[i] = mult(fact[i - 1], i, mod);

    invFact[N - 1] = divi(1, fact[N - 1], mod);
    for (int i = N - 2; i > -1; i--)
      invFact[i] = mult(invFact[i + 1], i + 1, mod);
  }
snippet !cpptemp
  #include <bits/stdc++.h>
  // #define int ll
  using namespace std;
  using ll = long long;
  using ld = long double;

  #define endl '\n'
  #define all(v) (v).begin(), (v).end()
  #define rall(v) (v).rbegin(), (v).rend()
  #define len(v) (int)(v).size()
  #define Ragaey ios::sync_with_stdio(false), cin.tie(nullptr)

  void solve() {
    ${0}
  }

  signed main() {
    Ragaey;

    int t = 1;
    // cin >> t;
    while (t--)
      solve();
  }

snippet !ordered_set
  #include <ext/pb_ds/assoc_container.hpp>
  #include <ext/pb_ds/tree_policy.hpp>
  using namespace __gnu_pbds;
  template <class T>
  using ordered_set = tree<T, null_type, std::less<T>, rb_tree_tag,
                           tree_order_statistics_node_update>;
  template <class T>
  using ordered_multiset = tree<T, null_type, std::less_equal<T>, rb_tree_tag,
                                tree_order_statistics_node_update>;

snippet !segment_tree
  struct Node {
      ll sum;

      Node() {
          sum = 0;
      }

      Node(int x) {
          sum = x;
      }

      void change(int x) {
          sum = x;
      }
  };

  struct SegTree {
      int tree_size;
      vector<Node> segData;

      SegTree(int n) {
          tree_size = 1;
          while (tree_size < n) tree_size *= 2;
          segData.assign(2 * tree_size, Node());
      }

      Node merge(Node &lf, Node &ri) {
          Node ans = Node();
          ans.sum = lf.sum + ri.sum;
          return ans;
      }

      void set(int idx, int val, int ni, int lx, int rx) {
          if (rx - lx == 1) {
              segData[ni].change(val);
              return;
          }
          int mid = (lx + rx) / 2;
       llx < mid) {
              set(idx, val, 2 * ni + 1, lx, mid);
          } else {
              set(idx, val, 2 * ni + 2, mid, rx);
          }
          segData[ni] = merge(segData[2 * ni + 1], segData[2 * ni + 2]);
      }

      void set(int idx, int val) {
          set(idx, val, 0, 0, tree_size);
      }

      Node get(int l, int r, int ni, int lx, int rx) {
          if (lx >= l && rx <= r) {
              return segData[ni];
          }
          if (lx >= r || rx <= l) {
              return Node();
          }
          int mid = (lx + rx) / 2;
          Node lf = get(l, r, 2 * ni + 1, lx, mid);
          Node ri = get(l, r, 2 * ni + 2, mid, rx);
          return merge(lf, ri);
      }

      ll get(int l, int r) {
          return get(l, r, 0, 0, tree_size).sum;
      }
  };
