snippet ci
  cin >> ${0};
snippet co
  cout << ${0};
snippet ce
  cerr << ${0};
snippet !spf
  const int N = 1e6 + 1;
  array<int, N> spf;

  void SPF() {
    for (int i = 2; i < N; i++) {
      if (spf[i] == 0) {
        spf[i] = i;
        for (ll j = 1ll * i * i; j < N; j += i)
          if (!spf[j])
            spf[j] = i;
      }
    }
  }
snippet !sieve
  const int N = 1e6 + 1;
  array<bool, N> isPrime;

  void Sieve() {
    isPrime.fill(true);
    isPrime[0] = isPrime[1] = false;

    for (int i = 2; i < N; i++) {
      if (isPrime[i]) {
        for (ll j = 1ll * i * i; j < N; j += i)
          isPrime[j] = false;
      }
    }
  }
snippet !mod_arithmetics
  ll MOD = 1e9 + 7;

  ll add(ll a, ll b, ll mod = MOD) { return (a % mod + b % mod) % mod; }

  ll sub(ll a, ll b, ll mod = MOD) { return (a % mod - b % mod + mod) % mod; }

  ll mult(ll a, ll b, ll mod = MOD) { return ((a % mod) * (b % mod)) % mod; }

  ll fp(ll base, ll power, ll mod = MOD) {
    if (power == 0)
      return 1;

    ll hp = fp(base, power / 2, mod);
    ll fullPower = mult(hp, hp, mod);

    if (power % 2 != 0)
      fullPower = mult(fullPower, base, mod);

    return fullPower;
  }

  ll divi(ll a, ll b, ll mod = MOD) { return mult(a, fp(b, mod - 2)); }
snippet !combinatorics
  const int N = 1e6 + 1;
  array<int, N> fact, invFact;

  ll nPr(ll n, ll r, ll mod = MOD) {
    return r > n || n < 0 || r < 0 ? 0 : mult(fact[n], invFact[n - r], mod);
  }

  ll nCr(ll n, ll r, ll mod = MOD) {
    return r > n || n < 0 || r < 0
               ? 0
               : mult(fact[n], mult(invFact[r], invFact[n - r], mod), mod);
  }

  ll sNb(ll n, ll k, ll mod = MOD) { return nCr(n + k - 1, n, mod); }

  void precalFactorial(ll mod = MOD) {
    fact[0] = 1;
    for (int i = 1; i < N; i++)
      fact[i] = mult(fact[i - 1], i, mod);

    invFact[N - 1] = divi(1, fact[N - 1], mod);
    for (int i = N - 2; i > -1; i--)
      invFact[i] = mult(invFact[i + 1], i + 1, mod);
  }
snippet !cpptemp
  #include <bits/stdc++.h>
  using namespace std;
  using ll = long long;
  using ld = long double;

  #ifndef ONLINE_JUDGE
  #include "../../../debug.h"
  #else
  #define dbg(...) 579
  #define sep 579
  #endif

  // #define int ll
  #define endl '\n'
  #define all(v) (v).begin(), (v).end()
  #define rall(v) (v).rbegin(), (v).rend()
  #define len(v) (int)(v).size()
  #define Ragaey ios::sync_with_stdio(false), cin.tie(nullptr)

  void solve() {
    ${0}
  }

  signed main() {
    Ragaey;

    int t = 1;
    // cin >> t;
    while (t--)
      solve();
  }
snippet !ordered_set
  #include <ext/pb_ds/assoc_container.hpp>
  #include <ext/pb_ds/tree_policy.hpp>
  using namespace __gnu_pbds;
  template <class T>
  using ordered_set = tree<T, null_type, std::less<T>, rb_tree_tag,
                           tree_order_statistics_node_update>;
  template <class T>
  using ordered_multiset = tree<T, null_type, std::less_equal<T>, rb_tree_tag,
                                tree_order_statistics_node_update>;

snippet !segment_lazy
  struct Node {
    ll lazy = -1;
    bool hasLazy = false;

    Node mergeData(Node &r) {
      Node ans;
      return ans;
    }

    void applyLazy(ll l, ll r) {
      hasLazy = false;
      lazy = -1;
    }

    void mergeLazy(Node &par) {
      hasLazy = true;
    }
  };

  struct LazySeg {
    int size;
    vector<Node> data;

    void build(int l, int r, int node, const vector<Node> &arr) {
      if (l == r) {
        if (l < len(arr))
          data[node] = arr[l];

        return;
      }

      build(l, (l + r) / 2, node * 2 + 1, arr);
      build((l + r) / 2 + 1, r, node * 2 + 2, arr);
      data[node] = data[node * 2 + 1].mergeData(data[node * 2 + 2]);
    }

    void update(int l, int r, int node, int lq, int rq, Node val) {
      propagate(l, r, node);
      if (l > rq || r < lq)
        return;

      if (l >= lq && r <= rq) {
        data[node].mergeLazy(val);
        propagate(l, r, node);
        return;
      }

      update(l, (l + r) / 2, node * 2 + 1, lq, rq, val);
      update((l + r) / 2 + 1, r, node * 2 + 2, lq, rq, val);
      data[node] = data[node * 2 + 1].mergeData(data[node * 2 + 2]);
    }

    void propagate(int l, int r, int node) {
      if (!data[node].hasLazy)
        return;

      if (l != r) {
        data[node * 2 + 1].mergeLazy(data[node]);
        data[node * 2 + 2].mergeLazy(data[node]);
      }

      data[node].applyLazy(l, r);
    }

    Node query(int l, int r, int node, int lq, int rq) {
      propagate(l, r, node);
      if (l > rq || r < lq)
        return Node();

      if (l >= lq && r <= rq)
        return data[node];

      Node left = query(l, (l + r) / 2, node * 2 + 1, lq, rq);
      Node right = query((l + r) / 2 + 1, r, node * 2 + 2, lq, rq);

      return left.mergeData(right);
    }

    LazySeg(const vector<Node> &arr) {
      for (size = 1; size < len(arr); size <<= 1);
      data.assign(size * 2, Node());

      build(0, size - 1, 0, arr);
    }

    void update(int l, int r, Node val) { update(0, size - 1, 0, l, r, val); }

    Node query(int l, int r) { return query(0, size - 1, 0, l, r); }
  };
snippet !sparse_table
  struct Node {};

  struct SparseTable {
    vector<vector<Node>> data;
    Node defaultValue;

    Node merge(Node a, Node b) { return a; }

    SparseTable() {}

    SparseTable(const vector<Node> &arr) {
      int n = len(arr), lg = __lg(n);
      data.assign(n, vector<Node>(lg + 1));

      for (int i = 0; i < n; i++)
        data[i][0] = arr[i];

      for (int i = 1; i <= lg; i++) {
        for (int j = 0; j + (1 << i) <= n; j++)
          data[j][i] = merge(data[j][i - 1], data[j + (1 << (i - 1))][i - 1]);
      }
    }

    Node query(int l, int r) {
      Node ans = defaultValue;
      int diff = r - l + 1, last = l;

      while (diff) {
        int top = __lg(diff);
        ans = merge(ans, data[last][top]);

        last += (1 << top);
        diff &= ~(1 << top);
      }

      return ans;
    }
  };
snippet !trie
  struct Node {
    array<Node *, 26> next{};
    int data = INT_MAX;
  };

  struct Trie {
    Node *root = new Node();

    void insert(string &s) {
      Node *cur = root;
      int n = len(s);

      for (int i = 0; i < n; i++) {
        if (!cur->next[s[i] - 'a'])
          cur->next[s[i] - 'a'] = new Node();

        cur = cur->next[s[i] - 'a'];
        cur->data = min(cur->data, n);
      }
    }

    int get(string &s) {
      Node *cur = root;

      for (int i = 0; i < len(s); i++) {
        if (!cur->next[s[i] - 'a'])
          return -1;

        cur = cur->next[s[i] - 'a'];
      }

      return cur->data;
    }
  };
snippet binary_trie
  struct Node {
    array<Node *, 2> next{};
  };

  struct Trie {
    Node *root = new Node();

    void insert(int s) {
      Node *cur = root;

      for (int i = 29; i >= 0; i--) {
        bool j = (s >> i) & 1;
        if (!cur->next[j])
          cur->next[j] = new Node();

        cur = cur->next[j];
      }
    }

    int get(int s) {
      Node *cur = root;

      int best{};
      for (int i = 29; i >= 0; i--) {
        bool j = (s >> i) & 1;
        if (cur->next[!j]) {
          cur = cur->next[!j];
          best = (best << 1) + !j;
        } else {
          cur = cur->next[j];
          best = (best << 1) + j;
        }
      }

      return best;
    }
  };
snippet !hashing
  struct Hash {
    static const int N = 2;
    vector<array<ll, N>> h, p;
    array<int, N> bases = {31, 37}, mods = {(int)1e9 + 7, (int)1e9 + 9};

    Hash(string &s) {
      int n = len(s);

      h.resize(n + 1);
      p.resize(n + 1);
      p[0].fill(1);

      for (int i = 1; i <= n; i++) {
        for (int j = 0; j < N; j++) {
          p[i][j] = (p[i - 1][j] * bases[j]) % mods[j];
          h[i][j] =
              ((h[i - 1][j] * bases[j]) % mods[j] + s[i - 1] - 'a' + 1) % mods[j];
        }
      }
    }

    array<ll, N> get(int l, int r) {
      l++, r++;
      array<ll, N> ans{};
      if (l <= r)
        for (int j = 0; j < N; j++)
          ans[j] =
              (h[r][j] - (h[l - 1][j] * p[r - l + 1][j]) % mods[j] + mods[j]) %
              mods[j];

      return ans;
    }
  };
snippet !dsu
  struct DSU {
    vector<int> par, sizes;

    DSU(int n) {
      sizes.assign(n + 1, 1);
      par.resize(n + 1);

      for (int i = 1; i <= n; i++)
        par[i] = i;
    }

    int find(int u) {
      if (par[u] == u)
        return u;

      return par[u] = find(par[u]);
    }

    bool merge(int u, int v) {
      int r1 = find(u), r2 = find(v);
      if (r1 == r2)
        return false;

      if (sizes[r1] > sizes[r2])
        swap(r1, r2);

      par[r1] = r2;
      sizes[r2] += sizes[r1];
      return true;
    }
  };
